%link {
  text-decoration: none;
  display: inline-block;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%button {
  position: relative;
  display: inline-block;
  padding: 12px 20px;
  border: 1px solid $color-active;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  z-index: 0;

  color: $title-black;

  transition: $animation;

  &:hover,
  &:focus {
    color: $bg-pages-first;
    border: 1px solid transparent;
  }

  &::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: $color-active;
    box-sizing: border-box;
    border-radius: 25px;
    transition: $animation;
  }

  &:hover::before,
  &:focus::before {
    height: 100%;
  }
}

%mini-title {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 80px;
  font-weight: 600;
  text-transform: uppercase;
}

%before-gray {
  &::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 1px;
    top: 50%;
    transform: translateX(-50%);
    left: 31px;
    background-color: $color-mini-title;
  }
}

%before-black {
  &::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 1px;
    top: 50%;
    transform: translateX(-50%);
    left: 31px;
    background-color: $title-black;
  }
}

%hover {
  &:hover,
  &:focus {
    color: $color-active;
  }
}

%subtitle {
  margin: 0;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

%text-third {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
