$bg-pages-first: #ffffff;
$bg-pages-second: #f7f7f7;
$bg-pages-third: #191c26;
$bg-shadows-pages: rgba(25, 28, 38, 0.2);
$transform-matrix: matrix(-1, 0, 0, 1, 0, 0);
$title-white: #ffffff;
$title-black: #303030;
$color-active: #ff6c00;
$color-mini-title: rgba(157, 164, 189, 0.6);
$gray-paragraph: #9da4bd;
$black-paragraph: #555555;
$color-divider: rgba(157, 164, 189, 0.12);
$features-color: #f7f7f7;
$text-form: rgba(157, 164, 189, 0.4);

$font-base: "Open Sans", sans-serif;
$font-title: "Raleway", sans-serif;
$font-weight: 400;
$font-size: 11px;
$line-height: 1.36;
$letter-spacing: 0.1em;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
